<br>
<h2 class=" text-primary text-center p-t">User Login</h2>
<div class="container col-mt-3">
<form ngNoForm [action]="url">
  
    <div class="form-group">
        <label >Enter UserName</label>
        <input type="text" class="form-control" id="username" autocomplete="off" placeholder="username">
    </div>
    <div class="form-group">
      <label >Enter Password</label>
      <input type="password" class="form-control" id="Password" autocomplete="off" placeholder="password">
    </div>
   
    <button type="submit" class="btn btn-success">Login</button>&nbsp;&nbsp;&nbsp;
    New User? <a class="mr-auto" routerLink ="./register">Please Register</a>
  </form>
</div>

<br><br><br>
