<br>
<h2 class=" text-primary text-center p-t"> Admin Login</h2>
<div class="container col-mt-3">
<form>
  
    <div class="form-group">
        <label >Enter UserName for Admin</label>
        <input type="text" class="form-control" id="adminName" autocomplete="off" placeholder="username">
      </div>

    <div class="form-group">
      <label >Enter Password for Admin</label>
      <input type="password" class="form-control" id="Password" autocomplete="off" placeholder="password">
    </div>
  </form>
  <button type="submit" routerLink="admin-dash" class="btn btn-success">Login</button>&nbsp;&nbsp;&nbsp;
</div>

<br><br><br>
