<div class="container">
    <br>
  
    <div class="row text-center py-5">
       
        <div class="col-md-3 col-sm-6 my-3 my-md-0">

                <div class="card"><br>
                    <div>
                        <img src="../../assets/images/mobile1.jpg" alt="">
                    </div>
                    <div class="card-body" >
                        <h5 class="card-title" name="Infinix">Infinix</h5>
                        
                        <h6>Hot 9 Ocean Wave</h6>
                        <ul>
                            <li>4 GB RAM 64 GB ROM</li>
                            <li>13 MP + 2 MP Back</li>
                            <li>8 MP Front Camera</li>
                            <li>Snapdragon 630G</li>
                            <li>5000 mAh Li-ion Battery</li>
                        </ul>
                        <h5>
                            <span class="price">₹ 9,500</span>
                        </h5>
                        <button (click)="send1()" type="submit"class="btn btn-warning">Add to Cart <i class="fa fa-shopping-cart "></i></button>
                    </div>
                </div>
            
        </div>

        <div class="col-md-3 col-sm-6 my-3 my-md-0">
           
                <div class="card"><br>
                    <div>
                        <img src="../../../assets/images/mobile2.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Redmi</h5>
                        <h6>8 Blue</h6>
                        <ul>
                            <li>4 GB RAM 64 GB ROM</li>
                            <li>12 MP + 2 MP Back</li>
                            <li>8 MP Front Camera</li>
                            <li>Snapdragon 439</li>
                            <li>5000 mAh Battery</li>
                        </ul>
                        <h5>
                            <span class="price">₹ 9,999</span>
                        </h5>
                        <button type="submit" (click)="send2()"  class="btn btn-warning">Add to Cart <i class="fa fa-shopping-cart "></i></button>
                    </div>
                </div>
           
        </div>


        <div class="col-md-3 col-sm-6 my-3 my-md-0">
         
                <div class="card"><br>
                    <div>
                        <img src="../../../assets/images/mobile3.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Real Me</h5>
                        <h6>C-12 Silver</h6>
                        <ul>
                            <li>3 GB RAM 32 GB ROM</li>
                            <li>12 MP +2 MP Back</li>
                            <li>16 MP Front Camera</li>
                            <li> Snapdragon 635G</li>
                            <li>6000 mAh Li-ion Battery</li>
                        </ul>
                        <h5>
                            <span class="price">₹ 8,999</span>
                        </h5>
                        <button type="submit" (click)="send3()" class="btn btn-warning">Add to Cart <i class="fa fa-shopping-cart "></i></button>
                    </div>
                </div>
          
        </div>


        <div class="col-md-3 col-sm-6 my-3 my-md-0">
           
                <div class="card"><br>
                    <div>
                        <img src="../../../assets/images/mobile4.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Poco</h5>
                        <h6>M-2 PRO Green</h6>
                        <ul>
                            <li>4 GB RAM 64 GB ROM</li>
                            <li>48 MP + 8 MP Back</li>
                            <li>16 MP Front Camera</li>
                            <li>Snapdragon 720G </li>
                            <li>5000 mAh Li-ion Battery</li>
                        </ul>
                        <h5>
                            <span class="price">₹ 13,999</span>
                        </h5>
                        <button type="submit" (click)="send4()" class="btn btn-warning">Add to Cart <i class="fa fa-shopping-cart "></i></button>
                    </div>
                </div>
          
        </div>

    </div>

    <div class="row text-center py-5">
       
        <div class="col-md-3 col-sm-6 my-3 my-md-0">
           
                <div class="card"><br>
                    <div>
                        <img src="../../../assets/images/hp1.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Fire Boltt</h5>
                        <h6>BH-1400 Black</h6>
                        <ul>
                            <li>Bluetooth Version: 5</li>
                            <li>Wireless Range: 10m </li>
                            <li>Battery Life: 25 Hrs</li>
                            <li>Charging Time: 2 Hrs </li>
                            
                        </ul>
                        <h5>
                            <span class="price">₹ 3,499</span>
                        </h5>
                        <button type="submit" (click)="send5()"  class="btn btn-warning">Add to Cart <i class="fa fa-shopping-cart "></i></button>
                    </div>
                </div>
            
        </div>

        <div class="col-md-3 col-sm-6 my-3 my-md-0">
           
                <div class="card"><br>
                    <div>
                        <img src="../../../assets/images/hp2.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Boat Rockerzz</h5>
                        <h6>510 Red/Black</h6>
                        <ul>
                            <li>Bluetooth Version: 4.1</li>
                            <li>Wireless Range: 10m</li>
                            <li>Battery Life: 10 Hrs</li>
                            <li>Charging Time: 2 Hrs </li>
                        </ul>
                        <h5>
                            <span class="price">₹ 1,890</span>
                        </h5>
                        <button type="submit" (click)="send6()"  class="btn btn-warning">Add to Cart <i class="fa fa-shopping-cart "></i></button>
                    </div>
                </div>
            
        </div>


        <div class="col-md-3 col-sm-6 my-3 my-md-0">
           
                <div class="card"><br>
                    <div>
                        <img src="../../../assets/images/hp3.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">JBL</h5>
                        <h6>T-450BTLight- Blue</h6>
                        <ul>
                            <li>Bluetooth Version: 4</li>
                            <li>Wireless Range: 8m </li>
                            <li>Battery Life: 11 Hrs</li>
                            <li>Charging Time: 2 Hrs </li>
                            
                        </ul>
                        <h5>
                            <span class="price">₹ 2,799</span>
                        </h5>
                        <button type="submit" (click)="send7()"  class="btn btn-warning">Add to Cart <i class="fa fa-shopping-cart "></i></button>
                    </div>
                </div>
           
        </div>


        <div class="col-md-3 col-sm-6 my-3 my-md-0">
           
                <div class="card"><br>
                    <div>
                        <img src="../../../assets/images/hp4.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Skullcandy</h5>
                        <h6>Hesh-2 Silver/Black</h6>
                        <ul>
                            <li>Bluetooth Version: 4</li>
                            <li>Wireless Range: 33feet </li>
                            <li>Battery Life: 15 Hrs</li>
                            <li>Charging Time: 2 Hrs </li>
                            
                        </ul>
                        <h5>
                            <span class="price">₹ 5,999</span>
                        </h5>
                        <button type="submit" (click)="send8()"  class="btn btn-warning">Add to Cart <i class="fa fa-shopping-cart "></i></button>
                    </div>
                </div>
        
        </div>
       

    </div>

</div>



